<footer class="bg-primary py-lg-12 py-6">
    <div class="container-xl">
        <div class="row justify-content-between ">
            <div class="col-lg-6 text-lg-start text-center">
                <ul class="list-unstyled d-inline-flex align-items-center text-white mb-lg-0 mb-2">
                    <li><a href="" class="d-block py-2 link-white">服務政策</a></li><span class="mx-6">｜</span>
                    <li><a href="" class="d-block py-2 link-white">隱私條款</a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-lg-end  text-center text-white"><span class="fs-lg-6 fs-7">© 2024 親子好趣處
                    FunFamilyMap. All rights reserved.</span></div>
        </div>
    </div>
</footer>