<div class="row mb-lg-8 mb-4 g-lg-4 g-2">
    <div class="col-4">
        <a href="user-maps.html" class="d-block">
            <div class="card shadow">
                <div class="card-body p-lg-6 p-4 text-lg-start text-center">
                    <span>新增景點</span>
                    <b class="d-block fs-1 mt-lg-1 mt-2">10</b>
                </div>
            </div>
        </a>
    </div>
    <div class="col-4">
        <a href="user-maps.html#edit-map-tab-pane" class="d-block">
            <div class="card shadow">
                <div class="card-body p-lg-6 p-4 text-lg-start text-center">
                    <span>編修景點</span>
                    <b class="d-block fs-1 mt-lg-1 mt-2">22</b>
                </div>
            </div>
        </a>
    </div>
    <div class="col-4">
        <a href="user-reviews.html" class="d-block">
            <div class="card shadow">
                <div class="card-body p-lg-6 p-4 text-lg-start text-center">
                    <span>景點評價</span>
                    <b class="d-block fs-1 mt-lg-1 mt-2">35</b>
                </div>
            </div>
        </a>
    </div>
</div>