<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>親子好趣處 FunFamilyMap</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <section class="Trailblazers" style="background-color: #F5E83A; ">
        <div class="container-xl carouselOuter">
            <!-- 1 -->
            <img class="carousel-box1" src="/assets/images/open_up/3-1.png" alt="">
        </div>

        <div class="container-xl" style="display:  none;">
            <div class="row">

                <!-- con 1 -->
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="rounded-box row"  style="position: relative;">
                        <img class="rounded-img" src="/assets/images/user-avatar-2.png" alt="">
                        <h4>快樂爸比</h4>
                        <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                        <p class="time">最新開拓日・2024-08-15</p>
                    </div>
                </div>

                <!-- con 2 -->
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="rounded-box row"  style="position: relative;">
                        <img class="rounded-img" src="/assets/images/user-avatar-3.png" alt="">
                        <h4>巧手媽咪</h4>
                        <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                        <p class="time">最新開拓日・2024-08-15</p>
                    </div>
                </div>
                
                <!-- con 3 -->
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="rounded-box row"  style="position: relative;">
                        <img class="rounded-img" src="/assets/images/user-avatar-4.png" alt="">
                        <h4>陽光爸爸</h4>
                        <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                        <p class="time">最新開拓日・2024-08-15</p>
                    </div>
                </div>
                
                <!-- con 4 -->
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="rounded-box row"  style="position: relative;">
                        <img class="rounded-img" src="/assets/images/user-avatar-5.png" alt="">
                        <h4>甜心媽咪</h4>
                        <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                        <p class="time">最新開拓日・2024-08-15</p>
                    </div>
                </div>     
                
                <!-- con 5 -->
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="rounded-box row"  style="position: relative;">
                        <img class="rounded-img" src="/assets/images/user-avatar-6.png" alt="">
                        <h4>開心爹地</h4>
                        <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                        <p class="time">最新開拓日・2024-08-15</p>
                    </div>
                </div>  

                <!-- con 6 -->
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="rounded-box row"  style="position: relative;">
                        <img class="rounded-img" src="/assets/images/user-avatar-7.png" alt="">
                        <h4>小丸子媽</h4>
                        <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                        <p class="time">最新開拓日・2024-08-15</p>
                    </div>
                </div>
            
            </div>
        </div>


        <!-- 2 pc-->
        <div id="carouselExampleIndicators" class="carousel slide carouselPc" data-bs-ride="carousel" 
            >

            <!-- Carousel Dot -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active btn-dot" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="btn-dot" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="btn-dot" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="btn-dot" aria-label="Slide 4"></button>
            </div>

            <!-- Carousel Content -->
            <div class="container-xl carousel-inner">
                <!-- page1 -->
                <div class="carousel-item active">

                    <div class="row" style="padding-top: 40px;">
                        
                        <!-- con 1 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50" >
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-2.png" alt="">
                                <h4>快樂爸比</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>

                        <!-- con 2 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-3.png" alt="">
                                <h4>巧手媽咪</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>
                        
                        <!-- con 3 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-4.png" alt="">
                                <h4>陽光爸爸</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>
                        
                        <!-- con 4 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-5.png" alt="">
                                <h4>甜心媽咪</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>     
                        
                        <!-- con 5 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-6.png" alt="">
                                <h4>開心爹地</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>  

                        <!-- con 6 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-7.png" alt="">
                                <h4>小丸子媽</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>
                    
                    </div>

                </div>
                <!-- page2 -->
                <div class="carousel-item">

                    <div class="row" style="padding-top: 40px;">
                        
                        <!-- con 1 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50" >
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-2.png" alt="">
                                <h4>快樂爸比</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>

                        <!-- con 2 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-3.png" alt="">
                                <h4>巧手媽咪</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>
                        
                        <!-- con 3 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-4.png" alt="">
                                <h4>陽光爸爸</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>
                        
                        <!-- con 4 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-5.png" alt="">
                                <h4>甜心媽咪</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>     
                        
                        <!-- con 5 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-6.png" alt="">
                                <h4>開心爹地</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>  

                        <!-- con 6 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-7.png" alt="">
                                <h4>小丸子媽</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>
                    
                    </div>

                </div>
                <!-- page3 -->
                <div class="carousel-item">

                    <div class="row" style="padding-top: 40px;">
                        
                        <!-- con 1 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50" >
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-2.png" alt="">
                                <h4>快樂爸比</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>

                        <!-- con 2 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-3.png" alt="">
                                <h4>巧手媽咪</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>
                        
                        <!-- con 3 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-4.png" alt="">
                                <h4>陽光爸爸</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>
                        
                        <!-- con 4 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-5.png" alt="">
                                <h4>甜心媽咪</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>     
                        
                        <!-- con 5 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-6.png" alt="">
                                <h4>開心爹地</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>  

                        <!-- con 6 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-7.png" alt="">
                                <h4>小丸子媽</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>
                    
                    </div>

                </div>
                <!-- page4 -->
                <div class="carousel-item">

                    <div class="row" style="padding-top: 40px;">
                        
                        <!-- con 1 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50" >
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-2.png" alt="">
                                <h4>快樂爸比</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>

                        <!-- con 2 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-3.png" alt="">
                                <h4>巧手媽咪</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>
                        
                        <!-- con 3 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-4.png" alt="">
                                <h4>陽光爸爸</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>
                        
                        <!-- con 4 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-5.png" alt="">
                                <h4>甜心媽咪</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>     
                        
                        <!-- con 5 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-6.png" alt="">
                                <h4>開心爹地</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>  

                        <!-- con 6 -->
                        <div class="col-md-4 d-flex justify-content-center pad-t50">
                            <div class="rounded-box row"  style="position: relative;">
                                <img class="rounded-img" src="/assets/images/user-avatar-7.png" alt="">
                                <h4>小丸子媽</h4>
                                <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                                <p class="time">最新開拓日・2024-08-15</p>
                            </div>
                        </div>
                    
                    </div>

                </div>
            </div>
            
            <!-- Carousel Btn left -->
            <button class="carousel-control-prev btn-circle" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"
            style="left: 10px;">
                <span class="material-symbols-outlined" aria-hidden="true">arrow_left</span><!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                <span class="visually-hidden">Previous</span>
            </button>
            <!-- Carousel Btn right -->
            <button class="carousel-control-next btn-circle" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"
            style="right: 10px;">
                <span class="material-symbols-outlined" aria-hidden="true">arrow_right</span><!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                <span class="visually-hidden">Next</span>
            </button>

        </div>
        <!-- 2 mb -->
        <div class="carouselMb">
            <div id="carouselExampleIndicatorsMB" class="carousel slide carouselPc" data-bs-ride="carousel" 
            style="display: block;">

            <!-- Carousel Dot -->
            <div class="carousel-indicators carouselMbBtn">
                <button type="button" data-bs-target="#carouselExampleIndicatorsMB" data-bs-slide-to="0" class="active btn-dot" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicatorsMB" data-bs-slide-to="1" class="btn-dot" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicatorsMB" data-bs-slide-to="2" class="btn-dot" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicatorsMB" data-bs-slide-to="3" class="btn-dot" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicatorsMB" data-bs-slide-to="4" class="btn-dot" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicatorsMB" data-bs-slide-to="5" class="btn-dot" aria-label="Slide 6"></button>
            </div>

            <!-- Carousel Content -->
            <div class="container-xl carousel-inner">
                <!-- page1 -->
                <div class="carousel-item active">

                    <div class="col-md-4 d-flex justify-content-center pad-t50" >
                        <div class="rounded-box row"  style="position: relative;">
                            <img class="rounded-img" src="/assets/images/user-avatar-2.png" alt="">
                            <h4>快樂爸比MB</h4>
                            <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                            <p class="time">最新開拓日・2024-08-15</p>
                        </div>
                    </div>

                </div>
                <!-- page2 -->
                <div class="carousel-item">

                    <!-- con 2 -->
                    <div class="col-md-4 d-flex justify-content-center pad-t50">
                        <div class="rounded-box row"  style="position: relative;">
                            <img class="rounded-img" src="/assets/images/user-avatar-3.png" alt="">
                            <h4>巧手媽咪</h4>
                            <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                            <p class="time">最新開拓日・2024-08-15</p>
                        </div>
                    </div>

                </div>
                <!-- page3 -->
                <div class="carousel-item">

                    <!-- con 3 -->
                    <div class="col-md-4 d-flex justify-content-center pad-t50">
                        <div class="rounded-box row"  style="position: relative;">
                            <img class="rounded-img" src="/assets/images/user-avatar-4.png" alt="">
                            <h4>陽光爸爸</h4>
                            <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                            <p class="time">最新開拓日・2024-08-15</p>
                        </div>
                    </div>

                </div>
                <!-- page4 -->
                <div class="carousel-item">

                    <!-- con 4 -->
                    <div class="col-md-4 d-flex justify-content-center pad-t50">
                        <div class="rounded-box row"  style="position: relative;">
                            <img class="rounded-img" src="/assets/images/user-avatar-5.png" alt="">
                            <h4>甜心媽咪</h4>
                            <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                            <p class="time">最新開拓日・2024-08-15</p>
                        </div>
                    </div>  

                </div>
                <!-- page5 -->
                <div class="carousel-item">

                    <!-- con 5 -->
                    <div class="col-md-4 d-flex justify-content-center pad-t50">
                        <div class="rounded-box row"  style="position: relative;">
                            <img class="rounded-img" src="/assets/images/user-avatar-6.png" alt="">
                            <h4>開心爹地</h4>
                            <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                            <p class="time">最新開拓日・2024-08-15</p>
                        </div>
                    </div>  

                </div>

                <!-- page6 -->
                <div class="carousel-item">

                    <!-- con 6 -->
                    <div class="col-md-4 d-flex justify-content-center pad-t50">
                        <div class="rounded-box row"  style="position: relative;">
                            <img class="rounded-img" src="/assets/images/user-avatar-7.png" alt="">
                            <h4>小丸子媽</h4>
                            <p>感謝您 新增  <a href="#新竹市立動物園">新竹市立動物園</a></p>
                            <p class="time">最新開拓日・2024-08-15</p>
                        </div>
                    </div>

                </div>
            </div>
            
            <!-- Carousel Btn left -->
            <button class="carousel-control-prev btn-circle carouselMbBtn" type="button" data-bs-target="#carouselExampleIndicatorsMB" data-bs-slide="prev" >
                <span class="material-symbols-outlined" aria-hidden="true">arrow_left</span><!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                <span class="visually-hidden">Previous</span>
            </button>
            <!-- Carousel Btn right -->
            <button class="carousel-control-next btn-circle carouselMbBtn" type="button" data-bs-target="#carouselExampleIndicatorsMB" data-bs-slide="next">
                <span class="material-symbols-outlined" aria-hidden="true">arrow_right</span><!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                <span class="visually-hidden">Next</span>
            </button>

        </div>
        </div>

        <!-- 3 -->
        <div class="container-xl carouselBottom">
            <p class="box1" style="text-align:center">以上是系統記錄的熱心貢獻者名單，感謝大家共同收集和整理資料。</p>
        </div>
    </section>

    <section class="RankingList" style="background-color: #FFFFFF; ">

        <div class="container-xl navOuter">
            <!-- 2 -->
            <img class="carousel-box1" src="/assets/images/open_up/3-2.png" alt="">
        </div>

        <div class="container-xl d-flex ju-c">

            <!-- 分頁Btn -->
            <div class="nav nav-tabs">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#menu1" aria-selected="true">最多新增</button>
                <button class="nav-link " data-bs-toggle="tab" data-bs-target="#menu2" aria-selected="false">最多編修</button>
                <button class="nav-link " data-bs-toggle="tab" data-bs-target="#menu3" aria-selected="false">最多評價</button>            
            </div>
        
        </div>

        <!-- 分頁Page -->
        <div class="container-xl tabOut">
            <!-- 分頁 content -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="menu1">
                    <div class="row" style="padding-bottom: 48px;">
                        <!-- con 1 -->
                        <div class="col-md-4 order-md-1 order-2" >
                            <div class="con-box row" style="margin: 0 auto;">                                
                                <img class="con-img" src="/assets/images/open_up/3-4.png" alt="">

                                <div class="con-color con-color2nd"> </div>

                                <div class="con-box2nd">
                                    <img src="/assets/images/user-avatar-9.png" alt="">
                                    <h4>甜甜媽</h4>
                                    <p class="time">最新開拓日・2024-08-15</p>
                                </div>

                                <div class="con-colorEnd" >
                                    <!-- 資料 -->
                                    <div class="d-flex ju-b box" style="align-items: flex-end;">
                                        <h6>新增景點</h6>
                                        <div class="d-flex" style="align-items: flex-end;">
                                            <h4 style="margin-right: 8px;">99</h4>
                                            <h6>筆</h6>
                                        </div>
                                    </div>
                                    <!-- 資料 -->
                                    <div class="d-flex ju-b box" style="align-items: flex-end;">
                                        <h6>編修景點</h6>
                                        <div class="d-flex" style="align-items: flex-end;">
                                            <h4 style="margin-right: 8px;">75</h4>
                                            <h6>筆</h6>
                                        </div>
                                    </div>
                                    <!-- 資料 -->
                                    <div class="d-flex ju-b box" style="align-items: flex-end;">
                                        <h6>景點評價</h6>
                                        <div class="d-flex" style="align-items: flex-end;">
                                            <h4 style="margin-right: 8px;">55</h4>
                                            <h6>筆</h6>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    
                        <!-- con 2 -->
                        <div class="col-md-4 order-md-xx order-1">
                            <div class="con-box row" style="margin: 0 auto;">
                                <img class="con-img" src="/assets/images/open_up/3-3.png" alt="">

                                <div class="con-color con-color1st"> </div>

                                <div class="con-box1st">
                                    <img src="/assets/images/user-avatar-8.png" alt="">
                                    <h4 >小羊媽咪</h4>
                                    <p class="time">最新開拓日・2024-08-15</p>
                                </div>

                                <div class="con-colorEnd" >
                                    <!-- 資料 -->
                                    <div class="d-flex ju-b box" style="align-items: flex-end;">
                                        <h6>新增景點</h6>
                                        <div class="d-flex" style="align-items: flex-end;">
                                            <h4 style="margin-right: 8px;">100</h4>
                                            <h6>筆</h6>
                                        </div>
                                    </div>
                                    <!-- 資料 -->
                                    <div class="d-flex ju-b box" style="align-items: flex-end;">
                                        <h6>編修景點</h6>
                                        <div class="d-flex" style="align-items: flex-end;">
                                            <h4 style="margin-right: 8px;">75</h4>
                                            <h6>筆</h6>
                                        </div>
                                    </div>
                                    <!-- 資料 -->
                                    <div class="d-flex ju-b box" style="align-items: flex-end;">
                                        <h6>景點評價</h6>
                                        <div class="d-flex" style="align-items: flex-end;">
                                            <h4 style="margin-right: 8px;">55</h4>
                                            <h6>筆</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- con 3 -->
                        <div class="col-md-4 order-md-2 order-3">
                            <div class="con-box row" style="margin: 0 auto;">
                                <img class="con-img" src="/assets/images/open_up/3-5.png" alt="">

                                <div class="con-color con-color3rd"> </div>

                                <div class="con-box3rd">
                                    <img src="/assets/images/user-avatar-10.png" alt="">
                                    <h4>海洋爸爸</h4>
                                    <p class="time">最新開拓日・2024-08-15</p>
                                </div> 

                                <div class="con-colorEnd" >
                                    <!-- 資料 -->
                                    <div class="d-flex ju-b box" style="align-items: flex-end;">
                                        <h6>新增景點</h6>
                                        <div class="d-flex" style="align-items: flex-end;">
                                            <h4 style="margin-right: 8px;">85</h4>
                                            <h6>筆</h6>
                                        </div>
                                    </div>
                                    <!-- 資料 -->
                                    <div class="d-flex ju-b box" style="align-items: flex-end;">
                                        <h6>編修景點</h6>
                                        <div class="d-flex" style="align-items: flex-end;">
                                            <h4 style="margin-right: 8px;">75</h4>
                                            <h6>筆</h6>
                                        </div>
                                    </div>
                                    <!-- 資料 -->
                                    <div class="d-flex ju-b box" style="align-items: flex-end;">
                                        <h6>景點評價</h6>
                                        <div class="d-flex" style="align-items: flex-end;">
                                            <h4 style="margin-right: 8px;">55</h4>
                                            <h6>筆</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>

                    <!-- 排行 - 新增景點-->

                    <div class="horizontal-scroll-list">
                        <div style="overflow-x: auto; ">
                            <div class="ranking-box" style="border-bottom: 1px solid #8E8E8E;">
                                <div><h6 class="c1">排行</h6></div>
                                <div><h6 class="c2">景點開拓者</h6></div>
                                <div><h6 class="c3">筆數</h6></div>
                                <div><h6 class="c4">最新開拓日</h6></div>
                            </div>
                            <ul style="margin: 0px; padding: 0px; list-style-type: none;">
                                <!-- overflow-x: auto; list-style-type: none; -->
                                <li>                               
                                    <div class="ranking-box">
                                        <div class="bc"><h4 class="c1">4</h4></div>                                        
                                        <div>
                                            <div class="bc c2">
                                                <img class="ranking-img" src="/assets/images/user-avatar-2.png" alt="">
                                                <h6 class="">快樂爸比</h6>
                                            </div>
                                        </div>                                        
                                        <div>
                                            <div class="bc d-flex c3">
                                                <h6>新增景點</h6>                                        
                                                <h4 >84</h4>
                                                <h6>筆</h6>
                                            </div> 
                                        </div>
                                        <div>
                                            <h6 class="bc c4">最新開拓日・2023-12-10</h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ranking-box">
                                        <h4 class="bc c1">5</h4>
                                        <div class="bc c2">
                                            <img class="ranking-img" src="/assets/images/user-avatar-11.png" alt="">
                                            <h6 class="">冒險寶寶</h6>
                                        </div>                                        
                                        <div class="bc d-flex c3">
                                            <h6>新增景點</h6>                                        
                                            <h4 >81</h4>
                                            <h6>筆</h6>
                                        </div>                                        
                                        <h6 class="bc c4">最新開拓日・2023-12-10</h6>
                                     </div>
                                </li>
                                <li>
                                    <div class="ranking-box">
                                        <h4 class="c1">6</h4>
                                        <div class="c2">
                                            <img class="ranking-img" src="/assets/images/user-avatar-4.png" alt="">
                                            <h6 class="">陽光爸爸</h6>
                                        </div>                                        
                                        <div class="d-flex c3">
                                            <h6>新增景點</h6>                                        
                                            <h4 >77</h4>
                                            <h6>筆</h6>
                                        </div>                                        
                                        <h6 class="c4">最新開拓日・2023-12-10</h6>
                                     </div>
                                </li>
                                <li>
                                    <div class="ranking-box">
                                        <h4 class="c1">7</h4>
                                        <div class="c2">
                                            <img class="ranking-img" src="/assets/images/user-avatar-5.png" alt="">
                                            <h6 class="">快樂爸比</h6>
                                        </div>                                        
                                        <div class="d-flex c3">
                                            <h6>新增景點</h6>                                        
                                            <h4 >75</h4>
                                            <h6>筆</h6>
                                        </div>                                        
                                        <h6 class="c4">最新開拓日・2023-12-10</h6>
                                     </div>
                                </li>
                                <li>
                                    <div class="ranking-box">
                                        <h4 class="c1">8</h4>
                                        <div class="c2">
                                            <img class="ranking-img" src="/assets/images/user-avatar-2.png" alt="">
                                            <h6 class="">小明媽咪</h6>
                                        </div>                                        
                                        <div class="d-flex c3">
                                            <h6>新增景點</h6>                                        
                                            <h4 >65</h4>
                                            <h6>筆</h6>
                                        </div>                                        
                                        <h6 class="c4">最新開拓日・2023-12-10</h6>
                                     </div>
                                </li>
                                <li>
                                    <div class="ranking-box">
                                        <h4 class="c1">9</h4>
                                        <div class="c2">
                                            <img class="ranking-img" src="/assets/images/user-avatar-3.png" alt="">
                                            <h6 class="">巧手媽咪</h6>
                                        </div>                                        
                                        <div class="d-flex c3">
                                            <h6>新增景點</h6>                                        
                                            <h4 >58</h4>
                                            <h6>筆</h6>
                                        </div>                                        
                                        <h6 class="c4">最新開拓日・2023-12-10</h6>
                                     </div>
                                </li>
                                <li>
                                    <div class="ranking-box">
                                        <h4 class="c1">10</h4>
                                        <div class="c2">
                                            <img class="ranking-img" src="/assets/images/user-avatar-7.png" alt="">
                                            <h6 class="">小丸子媽</h6>
                                        </div>                                        
                                        <div class="d-flex c3">
                                            <h6>新增景點</h6>                                        
                                            <h4 >40</h4>
                                            <h6>筆</h6>
                                        </div>                                        
                                        <h6 class="c4">最新開拓日・2023-12-10</h6>
                                     </div>
                                </li>

                            </ul>
                        </div>

                    </div>

                </div>
                <div class="tab-pane fade show " id="menu2">
                    <div>132</div>
                </div>
                <div class="tab-pane fade show " id="menu3">
                    <div>132</div>
                </div>
            </div>
            
        </div>

        <div class="container-xl ">
            <div class="c">

                
            </div>
        </div>
        


    </section>

    <%- include('./layout/footer-2'); -%>
    <script type="module" src="../main.js"></script>
</body>

</html>