<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>親子好趣處 FunFamilyMap</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>
    <section class="pt-lg-15 pt-12 bg-normal-gray tourist-edit">
      <!-- title -->
      <div class="container">
        <div class="bg-white rounded px-10">
          <div class="tourist-add mt-7 pb-5 position-relative">
            <div
              class="tourist-add-title d-flex flex-column align-items-center"
            >
              <img
                class="position-absolute"
                src="/assets/images/tourist/Open.svg"
                alt=""
              />
              <div class="tourist-add-text text-center mt-13 px-8">
                <h1 class="text-primary">新增景點</h1>
                <span class="text-primary">Add New Location</span>
              </div>
            </div>
          </div>
          <h3
            class="add-tourist-form-title font-NaniFont d-inline-block text-primary rounded bg-secondary px-5 py-1 mt-10 mb-5"
          >
            景點資訊
          </h3>
          <div class="add-tourist-form pt-5 g-3 pb-7">
            <form>
              <div class="row mb-3">
                <label for="inputTouristName" class="col-md-2 col-form-label"
                  >景點名稱<span class="text-danger">*</span></label
                >
                <div class="col-md-10">
                  <input
                    type="text"
                    class="form-control  rounded-1"
                    id="inputTouristName"
                    placeholder="請輸入景點名稱"
                  />
                </div>
              </div>
              <div class="row g-2 mb-3">
                <label for="inputCity" class="form-label col-md-2"
                  >景點位置<span class="text-danger">*</span></label
                >
                <div class="col-md-5">
                  <input
                    type="text"
                    class="form-control  rounded-1"
                    id="inputCity"
                    placeholder="縣市"
                  />
                </div>
                <div class="col-md-5">
                  <input
                    type="text"
                    class="form-control  rounded-1"
                    id="inputDistrict"
                    placeholder="區域"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputAddress" class="col-md-2 col-form-label"
                  >詳細地址<span class="text-danger">*</span></label
                >
                <div class="col-md-10">
                  <input
                    type="test"
                    class="form-control  rounded-1"
                    id="inputAddress"
                    placeholder="請填寫景點地址"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputTel" class="col-md-2 col-form-label"
                  >聯絡電話<span class="text-danger">*</span></label
                >
                <div class="col-md-10">
                  <input
                    type="tel"
                    class="form-control rounded-1"
                    id="inputTel"
                    placeholder="請填寫景點聯絡電話"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputOpenTime" class="col-md-2 col-form-label"
                  >營業時間<span class="text-danger">*</span></label
                >
                <div class="col-md-10">
                  <button
                    type="button"
                    class="btn btn-primary w-100 d-flex justify-content-center rounded-1"
                  >
                    新增營業時間<span
                      class="iconify-mingcute--time-fill"
                    ></span>
                  </button>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputOpenTime" class="col-md-2 col-form-label"
                  >經營狀態<span class="text-danger">*</span></label
                >
                <div class="col-md-10 text-center">
                  <div class="row">
                    <div class="col-12 col-md-4">
                      <input
                        type="checkbox"
                        class="btn-check"
                        id="btn-open-check"
                        autocomplete="off"
                      />
                      <label
                        class="btn"
                        for="btn-open-check"
                      >
                        <img class="isChecked img-fluid" src="/assets/images/tourist/open.png" alt="">
                        
                      </label>
                    </div>
                    <div class="col-12 col-md-4">
                      <input
                        type="checkbox"
                        class="btn-check"
                        id="btn-pause-check"
                        autocomplete="off"
                      />
                      <label
                        class="btn"
                        for="btn-pause-check"
                      >
                      <img class="isChecked img-fluid" src="/assets/images/tourist/pause.png" alt="">
                      </label>
                    </div>
                    <div class="col-12 col-md-4">
                      <input
                        type="checkbox"
                        class="btn-check"
                        id="btn-close-check"
                        autocomplete="off"
                      />
                      <label
                        class="btn"
                        for="btn-close-check"
                      >
                      <img class="isChecked img-fluid" src="/assets/images/tourist/close.png" alt="">
                      </label>
                    </div>
                  </div>
                </div>
                
                
              </div>
              <div class="row mb-3">
                <label for="inputOpenTime" class="col-md-2 col-form-label"
                  >周邊環境<span class="text-danger">*</span></label
                >
                <div class="col-md-10">
                  <ul
                    class="tourist-infomation-label d-flex flex-row list-inline flex-wrap gap-2"
                  >
                    <li
                      class="tourist-information-label-item pe-3 bg-normal-gray rounded px-2 py-1 me-2"
                    >
                      <span
                        class="iconify-mingcute--parking-fill align-middle text-gray-600 me-2"
                      ></span
                      >停車場
                    </li>
                    <li
                      class="tourist-information-label-item pe-3 bg-normal-gray rounded px-2 py-1 me-2"
                    >
                      <span
                        class="material-symbols-outlined align-middle text-gray-600 me-2"
                      >
                        wc </span
                      >廁所
                    </li>
                    <li
                      class="tourist-information-label-item pe-3 bg-normal-gray rounded px-2 py-1 me-2"
                    >
                      <span
                        class="iconify-mdi--mother-nurse align-middle text-gray-600 me-2"
                      ></span
                      >哺乳室
                    </li>
                    <li
                      class="tourist-information-label-item pe-3 bg-normal-gray rounded px-2 py-1 me-2"
                    >
                      <span
                        class="iconify-material-symbols--baby-changing-station-rounded align-middle text-gray-600 me-2"
                      ></span
                      >育嬰室
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputOpenTime" class="col-md-2 col-form-label"
                  >交通工具<span class="text-danger">*</span></label
                >
                <div class="col-md-10">
                  <ul
                    class="tourist-infomation-label d-flex flex-row list-inline flex-wrap gap-2"
                  >
                    <li
                      class="tourist-information-label-item pe-3 bg-normal-gray rounded px-2 py-1 me-2"
                    >
                      <span
                        class="iconify-mingcute--parking-fill align-middle text-gray-600 me-2"
                      ></span
                      >捷運
                    </li>
                    <li
                      class="tourist-information-label-item pe-3 bg-normal-gray rounded px-2 py-1 me-2"
                    >
                      <span
                        class="iconify-mdi--bus align-middle text-gray-600 me-2"
                      ></span
                      >公車
                    </li>
                    <li
                      class="tourist-information-label-item pe-3 bg-normal-gray rounded px-2 py-1 me-2"
                    >
                      <span
                        class="iconify-ri--car-fill align-middle text-gray-600 me-2"
                      ></span
                      >汽車
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputOpenTime" class="col-md-2 col-form-label"
                  >新增標籤<span class="text-danger">*</span></label
                >
                <div class="col-md-10">
                  <ul class="list-inline d-flex flex-row flex-wrap gap-2">
                    <li>
                      <a class="btn tag border-2" href="#" role="button">
                        <span class="text-primary">#</span>
                        探索學習
                      </a>
                    </li>
                      <a class="btn tag border-2" href="#" role="button">
                        <span class="text-primary">#</span>
                        動物園
                      </a>
                    </li>
                    <li class="newTag">
                      <a class="btn tag tag-add" href="#" role="button">
                        <span class="material-symbols-outlined">add_circle</span>
                        新增標籤
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputTouristName" class="col-md-2 col-form-label"
                  >景點簡介<span class="text-danger">*</span></label
                >
                <div class="col-md-10">
                  <textarea
                    class="form-control  rounded-1"
                    id="inputTouristName"
                    placeholder="請填寫敘述，最多300文字"
                    max="300"
                    rows="5"></textarea>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputTouristName" class="col-md-2 col-form-label"
                  >注意事項<span class="text-danger">*</span></label
                >
                <div class="col-md-10">
                  <textarea
                    class="form-control  rounded-1"
                    id="inputTouristName"
                    placeholder="請填寫注意事項，最多300文字"
                    max="300"
                    rows="5"></textarea>
                </div>
              </div>
              <h3 class="add-tourist-form-title font-NaniFont d-inline-block text-primary rounded bg-secondary px-5 py-1 mt-10 mb-5">
                景點圖片
              </h3>
              <div class="row mt-3 mb-3">
                <label for="inputTouristName" class="col-md-2 col-form-label"
                  >主要照片<span class="text-danger">*</span></label
                >
                <div class="col-md-10">
                  <a class="" href="#" role="button">
                    
                  </a>
                  <label for="mainImgFile" class="btn tag tag-add mb-3"><span class="material-symbols-outlined">add_circle</span>
                    新增主要照片</label>
                  <input class="form-control d-none" type="file" id="mainImgFile">
                  <div class="row">
                    <div class="col-md-6">

                      <img class="img-fluid" src="/assets/images/tourist/attraction_1.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputTouristName" class="col-md-2 col-form-label"
                  >補充照片<span class="text-danger">*</span></label
                >
                <div class="col-md-10">
                  <a class="" href="#" role="button">
                    
                  </a>
                  <label for="multipleImgFile" class="btn tag tag-add mb-3"><span class="material-symbols-outlined">add_circle</span>
                    新增補充照片</label>
                  <input class="form-control d-none" type="file" id="multipleImgFile" multiple>
                  <div class="row gy-2">
                    <div class="col-md-4">

                      <img class="img-fluid" src="/assets/images/tourist/attraction_1.jpg" alt="">
                    </div>
                    <div class="col-md-4">

                      <img class="img-fluid" src="/assets/images/tourist/attraction_1.jpg" alt="">
                    </div>
                    <div class="col-md-4">

                      <img class="img-fluid" src="/assets/images/tourist/attraction_1.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <button type="button" class="btn btn-white me-3 px-10 px-md-15">返回</button>
          <button type="button" class="btn btn-primary px-10 px-md-15">儲存</button>
        </div>
      </div>

      <div class="containter">
        <div class="btn"></div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>
    
    <script type="module" src="../main.js"></script>
    
  </body>
</html>
