<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>親子好趣處 FunFamilyMap</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="d-lg-none bg-white py-4 text-center z-1 shadow">
            <h1 class="fs-6  d-flex align-items-center justify-content-center">
                <span class="material-symbols-outlined">map</span>我的地圖
            </h1>
        </div>
        <section class="py-lg-14 py-8 bg-light-gray">
            <div class="container-xl">
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-block">
                        <div class="card shadow">
                            <div class="card-body px-0">
                                <div class="d-flex flex-column align-items-center text-center py-6 border-bottom">
                                    <div class="flex-shrink-0">
                                        <img src="/assets/images/user-avatar.jpg" class="rounded-circle"
                                            alt="user-avatar" width="60" height="60">
                                    </div>
                                    <div class="flex-grow-1">
                                        <h4 class="py-3">陳大廷</h4>
                                        <p class="text-gray-600">userName@mail.com</p>
                                    </div>
                                </div>
                                <ul class="list-unstyled m-0 py-4 border-bottom">
                                    <li>
                                        <a class="d-inline-flex align-items-center link-gray-600 gap-3 py-4 px-8 w-100"
                                            href="user-maps.html">
                                            <span class="material-symbols-outlined">map</span>我的地圖</a>
                                    </li>
                                    <li>
                                        <a class="d-inline-flex align-items-center link-gray-600 gap-3 py-4 px-8 w-100"
                                            href="#">
                                            <span class="material-symbols-outlined">favorite</span>喜愛景點</a>
                                    </li>
                                    <li>
                                        <a class="d-inline-flex align-items-center link-gray-600 gap-3 py-4 px-8 w-100"
                                            href="#">
                                            <span class="material-symbols-outlined">star</span>景點評價</a>
                                    </li>
                                    <li>
                                        <a class="d-inline-flex align-items-center link-gray-600 gap-3 py-4 px-8 w-100"
                                            href="#">
                                            <span class="material-symbols-outlined">settings</span>會員資料</a>
                                    </li>
                                </ul>
                                <a class=" d-inline-flex align-items-center link-gray-600 gap-3 py-4 px-8 w-100 mt-4"
                                    href="#"><span class="material-symbols-outlined">logout</span>登出</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row mb-lg-8 mb-4">
                            <div class="col-4">
                                <div class="card shadow">
                                    <div class="card-body p-lg-6 p-4 text-lg-start text-center">
                                        <span>新增景點</span>
                                        <b class="d-block fs-1 mt-lg-1 mt-2">10</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card shadow">
                                    <div class="card-body p-lg-6 p-4 text-lg-start text-center">
                                        <span>編修景點</span>
                                        <b class="d-block fs-1 mt-lg-1 mt-2">22</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card shadow">
                                    <div class="card-body p-lg-6 p-4 text-lg-start text-center">
                                        <span>景點評價</span>
                                        <b class="d-block fs-1 mt-lg-1 mt-2">55</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-underline mb-lg-8 mb-4 gap-0 border-bottom" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="add-maps-tab" data-bs-toggle="tab"
                                    data-bs-target="#add-maps-tab-pane" type="button" role="tab"
                                    aria-controls="add-maps-tab-pane" aria-selected="true">我新增的景點</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="edit-map-tab" data-bs-toggle="tab"
                                    data-bs-target="#edit-map-tab-pane" type="button" role="tab"
                                    aria-controls="edit-map-tab-pane" aria-selected="false">編輯過的景點</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="add-maps-tab-pane" role="tabpanel"
                                aria-labelledby="add-maps-tab" tabindex="0">
                                <div class="card shadow">
                                    <div class="card-body p-lg-8 p-3">
                                        <div
                                            class="btn-gruop bg-light-gray d-inline-flex p-1 rounded-5 mb-lg-12 mb-6 gap-2">
                                            <a href="#" class="btn btn-white active">營業中(13)</a>
                                            <a href="#" class="btn btn-white">暫停營業(7)</a>
                                            <a href="#" class="btn btn-white">永久歇業(2)</a>
                                        </div>
                                        <div class="row row-cols-lg-3 row-cols-md-2  row-cols-1 g-lg-4 g-3">
                                            <div class="col">
                                                <a href="#">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex mb-2 fs-lg-6 fs-7">
                                                                <span
                                                                    class="text-gray-600">2小時前</span><span>編修</span><span
                                                                    class="text-primary">彰化縣芬園鄉</span>
                                                            </div>
                                                            <h4 class="fw-bold text-primary fs-lg-4 fs-5">古生物奇幻樂園</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="edit-map-tab-pane" role="tabpanel"
                                aria-labelledby="edit-map-tab" tabindex="0">
                                <div class="card shadow">
                                    <div class="card-body p-lg-8 p-3">
                                        <div
                                            class="btn-gruop bg-light-gray d-inline-flex p-1 rounded-5 mb-lg-12 mb-6 gap-2">
                                            <a href="#" class="btn btn-white active">營業中(13)</a>
                                            <a href="#" class="btn btn-white">暫停營業(7)</a>
                                            <a href="#" class="btn btn-white">永久歇業(2)</a>
                                        </div>
                                        <div class="row row-cols-lg-3 row-cols-md-2  row-cols-1 g-lg-4 g-3">
                                            <div class="col">
                                                <a href="#">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex mb-2 fs-lg-6 fs-7">
                                                                <span
                                                                    class="text-gray-600">2小時前</span><span>編修</span><span
                                                                    class="text-primary">彰化縣芬園鄉</span>
                                                            </div>
                                                            <h4 class="fw-bold text-primary fs-lg-4 fs-5">古生物奇幻樂園</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="#">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex mb-2 fs-lg-6 fs-7">
                                                                <span
                                                                    class="text-gray-600">2天前</span><span>編修</span><span
                                                                    class="text-primary">彰化縣員林市</span>
                                                            </div>
                                                            <h4 class="fw-bold text-primary fs-lg-4 fs-5">百果山探索樂園</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="#">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex mb-2 fs-lg-6 fs-7">
                                                                <span
                                                                    class="text-gray-600">12天前</span><span>編修</span><span
                                                                    class="text-primary">台中市北區</span>
                                                            </div>
                                                            <h4 class="fw-bold text-primary fs-lg-4 fs-5">國立自然科學博物館</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="#">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex mb-2 fs-lg-6 fs-7">
                                                                <span
                                                                    class="text-gray-600">1個月前</span><span>編修</span><span
                                                                    class="text-primary">南投縣草屯鎮</span>
                                                            </div>
                                                            <h4 class="fw-bold text-primary fs-lg-4 fs-5">九九峰動物樂園</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="#">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex mb-2 fs-lg-6 fs-7">
                                                                <span
                                                                    class="text-gray-600">3個月前</span><span>編修</span><span
                                                                    class="text-primary">台中市北屯區</span>
                                                            </div>
                                                            <h4 class="fw-bold text-primary fs-lg-4 fs-5">啵比星球</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="#">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex mb-2 fs-lg-6 fs-7">
                                                                <span
                                                                    class="text-gray-600">1年前</span><span>編修</span><span
                                                                    class="text-primary">新竹縣關西鎮</span>
                                                            </div>
                                                            <h4 class="fw-bold text-primary fs-lg-4 fs-5">六福村主題遊樂園</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="#">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex mb-2 fs-lg-6 fs-7">
                                                                <span
                                                                    class="text-gray-600">1年前</span><span>編修</span><span
                                                                    class="text-primary">苗栗縣 竹南鎮</span>
                                                            </div>
                                                            <h4 class="fw-bold text-primary fs-lg-4 fs-5">四方鮮乳酪故事館</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="#">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex mb-2 fs-lg-6 fs-7">
                                                                <span
                                                                    class="text-gray-600">1年前</span><span>編修</span><span
                                                                    class="text-primary">桃園市 中壢區</span>
                                                            </div>
                                                            <h4 class="fw-bold text-primary fs-lg-4 fs-5">Xpark</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="#">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex mb-2 fs-lg-6 fs-7">
                                                                <span
                                                                    class="text-gray-600">1年前</span><span>編修</span><span
                                                                    class="text-primary">屏東縣 車城</span>
                                                            </div>
                                                            <h4 class="fw-bold text-primary fs-lg-4 fs-5">國立海洋生物博物館</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="#">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex mb-2 fs-lg-6 fs-7">
                                                                <span
                                                                    class="text-gray-600">1年前</span><span>編修</span><span
                                                                    class="text-primary">桃園市龍潭區</span>
                                                            </div>
                                                            <h4 class="fw-bold text-primary fs-lg-4 fs-5">小人國主題樂園</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="#">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex mb-2 fs-lg-6 fs-7">
                                                                <span
                                                                    class="text-gray-600">1年前</span><span>編修</span><span
                                                                    class="text-primary">台南市學甲區</span>
                                                            </div>
                                                            <h4 class="fw-bold text-primary fs-lg-4 fs-5">頑皮世界野生動物園</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="#">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex mb-2 fs-lg-6 fs-7">
                                                                <span
                                                                    class="text-gray-600">1年前</span><span>編修</span><span
                                                                    class="text-primary">台北市士林區</span>
                                                            </div>
                                                            <h4 class="fw-bold text-primary fs-lg-4 fs-5">臺北市立兒童新樂園</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="#">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex mb-2 fs-lg-6 fs-7">
                                                                <span
                                                                    class="text-gray-600">1年前</span><span>編修</span><span
                                                                    class="text-primary">台北市文山區</span>
                                                            </div>
                                                            <h4 class="fw-bold text-primary fs-lg-4 fs-5">臺北市立動物園</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>